body {
	font-family: 'Share Tech Mono', monospace;
	color: #999;
}

h1 {
	color: #333;
}

.App {
	width: 720px;
	margin: 0 auto;
}

.ctrl-btn {
	width: 70px;
	height: 35px;
	margin: 5px 10px 5px 0;

	background: white;
	border: none;
	border-bottom: 2px solid #009cde;

	color: inherit;
	font-weight: bold;
	font-family: inherit;

	cursor: pointer;
}

.ctrl-btn:hover {
	color: white;

	background: #009cde;
}

.board {
	margin: 10px auto 0 auto;

	display: flex;
	flex-wrap: wrap;

	background: #f7f7f7;
}

.cell {
	margin: 0;
	padding: 0;

	border: 0;
	background: transparent;

	cursor: pointer;
}

.cell > div {
	width: 12px;
	height: 12px;

	border-radius: 50%;
}

.cell--alive > div {
	background: #009cde;
}

.footer {
	font-size: 10px;
	text-align: right;
}